:root{
    --main-text-size: 1rem;
    --secondary-text-size: 0.85rem;


    --nav-bg-color: rgb(61, 61, 61);
    --bg-color: #535353;
    --text-color: rgb(255, 255, 255);


    --even-bg-color: rgb(133, 130, 130);
    --even-text-color: rgba(0, 0, 0, 1);


    --odd-bg-color: rgb(255, 255, 255);
    --odd-text-color: rgb(0,0,0);


    --text-font: "Roboto, Arial, Helvetica, sans-serif";
    --text-gap: 0.5rem;


    --border-color: #b3b3b3
}
a{
    text-decoration: none;
    white-space: nowrap;
    color: var(--text-color);
}
body{
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
    overflow: auto;
}
header{
    position: sticky;
    top: 0;
    z-index: 999;
}
header nav{
    background-color: var(--nav-bg-color);
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.nav_title{
    display: flex;
}
.nav_title img{
    width: auto;
    height: 5rem;
    padding: 0 1rem;
}
.nav_title p{
    font-size: calc(var(--main-text-size)*1.75);
    font-weight: bold;
    margin: auto 0;
}
.nav_links ul{
    display: flex;
    padding: 0;
}
.nav_links li{
    list-style: none;
    transition: background-color 0.4s ease;
}
.nav_links li:hover{
    background-color: rgba(252,201,135,255);
}
header .nav_links a{
    zoom: 1;
    display: inline-block;
    padding: 1rem;
    
}
header .nav_links li a{
    font-size: calc(var(--main-text-size)*1.5);
    white-space: nowrap;
}

.nav_title .nav_logo:hover{
    animation: spin 7.5s infinite linear;
}

@keyframes spin {
    0%{
        transform: rotate(0deg) scale(1);

    }
    50%{
        transform: rotate(180deg) scale(0.5);
    }
    100%{
        transform: rotate(360deg) scale(1);
    }
}


footer nav{
    background-color: var(--nav-bg-color);
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
}

footer .nav_links{
    background-color: var(--nav-bg-color);
    color: var(--text-color);
    font-size: calc(var(--main-text-size)*1);
}

footer .nav_links ul{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-left: 5%;
}
footer .nav_links li{
    list-style: none;
    padding: 0.5rem;
    transition: all 0.2;
    background-color: transparent;
    transition: background-color 0.4s ease;
}
footer .nav_links li:hover{
    background-color: rgba(252,201,135,255);
}
footer .nav_links li a{
    white-space: nowrap;
}
footer .nav_contact{
    margin-right: 5%;
    text-align: center;
}

@media (max-width: 620px){
    nav{
        flex-direction: column;
    }
    footer nav{
        text-align: center;
    }
    footer .nav_contact{
        margin-right: 0;
    }
    
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--text-font);
    padding: calc(var(--main-text-size) * 1.5);
    color: var(--text-color);
    background-color: gray;
    background-image: url(../../../Styles/PizzaBg2.jpg);
    background-size: cover;
    vertical-align: top;
    background-position: center center;
    transition: all 0.5s ease-in-out;
}

.header{
    color: rgb(0,0,0);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--text-gap);
    transform: scale(1.2);
}

.header > :first-child{
    transform: scale(1.5);
}

.MainText{
    font-size: var(--main-text-size);
    font-weight: bold;
}

.SecondaryText{
    font-size: var(--secondary-text-size);
}

.MenuTable{
    margin: 1.5rem;
    border: 2px solid var(--border-color);
    display: flex;
    flex-direction: column;
    width: 50%;
    animation: Appear 1.2s 0.2s both;
    
}
.section{
    color: rgb(0,0,0);
    animation: Appear 1.2s 0.2s both;
    font-size: calc(var(--main-text-size)*1.5);
}
@keyframes Appear {
    0%{
        transform: scale(0) translateX(-100%);
    }
    100%{
        opacity: 1;
        transform: scale(1) translateX(0%);
    }
}
.Pizzas{
    width: 100%;
}
.PizzaInfo{
    margin: 0.85rem;
}

.PizzasInfo{
    display: flex;
    flex-direction: column;
}

.PizzaContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    transition: all 0.2s;
    cursor: url('../../../styles/cursor.png'), auto;
}

.PizzaContainer:hover{
   transform: scale(1.1); 
   box-shadow: 8px 8px 24px 10px rgb(55, 55, 59);

}
@media (max-width: 620px) {
    .PizzaContainer{
        display: block;
    }
    .PizzaContainer:hover{
        transform: scale(1);
    }
    .MenuTable{
        width: 90%;
    }
}

.PizzaContainer:nth-of-type(even){
    background-color: var(--even-bg-color);
    color: var(--even-text-color);
}


.PizzaContainer:nth-of-type(odd){
    background-color: var(--odd-bg-color);
    color: var(--odd-text-color);
    
}

.PriceInfo{
    display: flex;
    align-items: flex-end;
    margin: 0.85rem;
}

.PricesContainer{
    display: flex;
    flex-direction: column;
    
}
