:root{
    --main-text-size: 1rem;
    --secondary-text-size: 0.85rem;
    --text-font: "Roboto";
    --text-gap: 0.5rem;
    --border-color: gray;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.main{
    width: 100rem;
    height: 100rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--text-font);
    padding: calc(var(--main-text-size) * 1.5);
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--text-gap);
}

.MainText{
    font-size: var(--main-text-size);
    font-weight: bold;
}

.SecondaryText{
    font-size: var(--secondary-text-size);
}

.MenuTable{
    margin: 1.5rem;
    border: 1px solid var(--border-color);
    display: flex;
    flex-direction: column;
}
.Pizzas{
    display: flex;
}
.PizzaInfo{
    margin: 0.85rem;
}

.PizzasInfo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
