:root{
    --bg-color: rgb(61, 61, 61);
    --text-color: rgb(255, 255, 255);
    --text-size: 1rem;
    --text-font: "Roboto, Arial, Helvetica, sans-serif";
}
a{
    text-decoration: none;
    white-space: nowrap;
    color: var(--text-color);
}
body{
    box-sizing: border-box;
    margin: 0;
    cursor: url('../../../styles/cursor.png'), auto;
}
/*navbar*/
header{
    position: sticky;
    top: 0;
    z-index: 999;
}
header nav{
    background-color: var(--bg-color);
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.nav_title{
    display: flex;
}
.nav_title img{
    width: auto;
    height: 5rem;
    padding: 0 1rem;
}
.nav_title p{
    font-size: calc(var(--text-size)*1.75);
    font-weight: bold;
    margin: auto 0;
}
.nav_links ul{
    display: flex;
    padding: 0;
}
.nav_links li{
    list-style: none;
}

header .nav_links a{
    zoom: 1;
    display: inline-block;
    padding: 1rem;
}
.nav_links li:hover{
    animation: bg-zoom 250ms linear both;
}

@keyframes bg-zoom {
    0%{        
        background-color: transparent;
    }
    100%{
        background-color: rgba(252,201,135,255);
    }
}
header .nav_links li a{
    font-size: calc(var(--text-size)*1.5);
    white-space: nowrap;
}

.nav_title .nav_logo:hover{
    animation: spin 7.5s infinite linear;
}

@keyframes spin {
    0%{
        transform: rotate(0deg) scale(1);

    }
    50%{
        transform: rotate(180deg) scale(0.5);
    }
    100%{
        transform: rotate(360deg) scale(1);
    }
}



main{
    height: 50rem;
    background-color: gray;
    background-image: url(../../../Styles/Pizza.jpg);
    background-size: cover;
}

footer nav{
    background-color: var(--bg-color);
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
}

footer .nav_links{
    background-color: var(--bg-color);
    color: var(--text-color);
    font-size: calc(var(--text-size)*1);
}

footer .nav_links ul{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-left: 5%;
}
footer .nav_links li{
    list-style: none;
    padding: 0.5rem;
}

footer .nav_links li a{
    white-space: nowrap;
}
footer .nav_contact{
    margin-right: 5%;
    text-align: center;
}

@media (max-width: 620px){
    nav{
        flex-direction: column;
    }
    footer nav{
        text-align: center;
    }    
    footer .nav_contact{
        margin-right: 0;
    }
}