:root{
    --bg-color: rgb(61, 61, 61);
    --text-color: rgb(255, 255, 255);
    --text-size: 1rem;
    --text-font: "Roboto, Arial, Helvetica, sans-serif";
}
a{
    text-decoration: none;
    white-space: nowrap;
    color: var(--text-color);
}
body{
    box-sizing: border-box;
    margin: 0;
}
/*navbar*/
header{
    position: sticky;
    top: 0;
    z-index: 999;
}
header nav{
    background-color: var(--bg-color);
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.nav_title{
    display: flex;
}
.nav_title img{
    width: auto;
    height: 5rem;
    padding: 0 1rem;
}
.nav_title p{
    font-size: calc(var(--text-size)*1.75);
    font-weight: bold;
    margin: auto 0;
}
.nav_links ul{
    display: flex;
    padding: 0;
}
.nav_links li{
    list-style: none;
}

header .nav_links a{
    zoom: 1;
    display: inline-block;
    padding: 1rem;
}
.nav_links li:hover{
    animation: bg-zoom 250ms linear both;
}

@keyframes bg-zoom {
    0%{        
        background-color: transparent;
    }
    100%{
        background-color: rgba(252,201,135,255);
    }
}
header .nav_links li a{
    font-size: calc(var(--text-size)*1.5);
    white-space: nowrap;
}

.nav_title .nav_logo:hover{
    animation: spin 7.5s infinite linear;
}

@keyframes spin {
    0%{
        transform: rotate(0deg) scale(1);

    }
    50%{
        transform: rotate(180deg) scale(0.5);
    }
    100%{
        transform: rotate(360deg) scale(1);
    }
}



main{
    height: 50rem;;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    font-family: var(--text-font);
    padding: calc(var(--main-text-size) * 1.5);
    color: var(--text-color);
    background-color: gray;
    background-image: url(../../../Styles/Pizza.jpg);
    background-size: cover;
    vertical-align: top;
    background-position: center center;
    transition: all 0.5s ease-in-out;
}

.wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 75%;
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    0%{
        opacity: 0;
        transform: scale(0);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}
.content_left{
    display: flex;
    width: 100%;
    max-width: 500px;
    height: auto;
    justify-content:center;
    align-items: center;
    margin: 2px;
}

.content_left img {
    width: 100%;
    height: 100%;
    border: 2px solid white;
    border-radius: 20px;
    
}

.content_right{
    background-color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    max-width: 50%;
    border: 2px solid black;
    border-radius: 20px;
    margin: 2px;
}

.content_inner{
    text-align: center;
    font-size: calc(var(--text-size) * 1.75);
    color: black;
    padding: 2px;
    line-height: calc(var(--text-size) * 2);
}

.content_inner h1 {
    margin: 1.2rem;
    font-weight: bold;
}

@media (max-width: 1200px){
    .wrapper{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .content_left, .content_right{
        margin: 5px;
        max-width: 400px;
    }
}
footer nav{
    background-color: var(--bg-color);
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
}

footer .nav_links{
    background-color: var(--bg-color);
    color: var(--text-color);
    font-size: calc(var(--text-size)*1);
}

footer .nav_links ul{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-left: 5%;
}
footer .nav_links li{
    list-style: none;
    padding: 0.5rem;
}

footer .nav_links li a{
    white-space: nowrap;
}
footer .nav_contact{
    margin-right: 5%;
    text-align: center;
}

@media (max-width: 620px){
    nav{
        flex-direction: column;
    }
    footer nav{
        text-align: center;
    }    
    footer .nav_contact{
        margin-right: 0;
    }
}